/*通用部分*/
* {
    padding: 0px;
    margin: 0px;
    font-family: Microsoft YaHei, SimSun;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(41, 46, 56);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

blockquote {
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid #dae0e6;
    margin-top: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'iconfont';  /* project id 409152 */
    src: url('//at.alicdn.com/t/font_409152_bjovg51fiswtgldi.eot');
    src: url('//at.alicdn.com/t/font_409152_bjovg51fiswtgldi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_409152_bjovg51fiswtgldi.woff') format('woff'),
    url('//at.alicdn.com/t/font_409152_bjovg51fiswtgldi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_409152_bjovg51fiswtgldi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 17px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*左侧边栏部分*/
.leftBan {
    background-color: red;
    width: 250px;
    height: 100%;
    background-color: rgb(41, 46, 56);
    position: fixed;
    top: 0px;
    z-index: 2;
}

.leftBan .logo {
    border-bottom: 1px solid #3D4452;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.leftBan .logo .logoImg {
    width: 180px;
}

.leftBan .logo .logoText {
    margin-top: 20px;
    color: white;
    font-size: 12px;
}

.leftBan .menu {
    width: 249px;
    margin: 20px auto;
}

.leftBan .menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.leftBan .menu ul li {
    position: relative;

}

.leftBan .menu ul li a {
    width: 169px;
}

.leftBan .menu a {
    font-size: 14px;
    color: #8595A5;
    padding: 15px 20px 15px 60px;
    display: block;
    transition: all .15s ease-out
}

.leftBan .menu a:hover {
    background: #242A35;
    color: white;
}

/*顶部内容*/
.topMenu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #37414a;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.topMenu .topBan {
    float: right;
}

.topMenu .topBan ul {
    list-style: none;
}

.topMenu .topBan > ul > li {
    float: left;
}

.topMenu .topBan > ul > li > a {
    font-size: 15px;
    display: block;
    box-sizing: border-box;
    padding: 18px;
    color: #8193A2;
    transition: all .4s ease-in-out;
}

.topMenu .topBan > ul > li > a:hover {
    color: white;
}

.topMenu .topBan ul .mycenter .iconfont {
    color: #8193A2;
    font-size: 22px;
}

.topMenu .topBan ul .mycenter .iconfont:hover {
    color: white;
}

.topMenu .topBan ul .mycenter {
    position: relative;
}

.topMenu .topBan ul .mycenter .mycenter_list {
    padding: 10px;
    position: absolute;
    display: none;
    border: 1px solid #ececee;
    top: 60px;
    left: -95px;
    width: 150px;
    height: 120px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}

.topMenu .topBan ul .mycenter .mycenter_list li a {
    padding: 5px 0px;
    display: block;
    color: black;
}

.topMenu .topBan ul .mycenter .mycenter_list li a:hover {
    color: #0092ee;
}

#div1 {
    height: 900px;
    background-image: url("../img/index_bg.jpg");
}

#yangshi3 {
    margin-top: 200px;
    margin-left: 600px;
}