<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.kjjsp.mapper.GcliuyanMapper">
    <resultMap id="BaseResultMap" type="com.yijiupi.kjjsp.pojo.GcliuyanDTO">
        <id column="gcid" property="gcid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="infor" property="infor" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="file" property="file" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="index1" property="index" jdbcType="INTEGER"/>
        <result column="beforgcid" property="beforgcid" jdbcType="INTEGER"/>
        <result column="admin" property="admin" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.yijiupi.kjjsp.pojo.GcliuyanDTO1">
        <id column="gcid" property="gcid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="infor" property="infor" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="file" property="file" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="index1" property="index" jdbcType="INTEGER"/>
        <result column="beforgcid" property="beforgcid" jdbcType="INTEGER"/>
        <result column="admin" property="admin" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.yijiupi.kjjsp.pojo.GcliuyanDTO2">
        <id column="gcid" property="gcid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="infor" property="infor" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="file" property="file" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="index1" property="index" jdbcType="INTEGER"/>
        <result column="beforgcid" property="beforgcid" jdbcType="INTEGER"/>
        <result column="admin" property="admin" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getGuangChangLiuYanList" parameterType="com.yijiupi.kjjsp.pojo.Page" resultMap="BaseResultMap">
        select gcid,u.uid,infor,time,username,file,sex ,index1,beforgcid,admin from user as u ,gcliuyan as g where g.uid=u.uid and index1=1
        order by g.gcid desc limit #{begin},#{pageSize}
    </select>

    <select id="getGuangChangLiuYan1List1" resultMap="BaseResultMap1">
        SELECT gcid,u.uid,infor,time,username,file,sex ,index1,beforgcid,admin from user as u ,gcliuyan as g
        where g.uid=u.uid and index1=2 and beforgcid IN
        <foreach collection="list1" item="employeeId" index="index" open="(" close=")" separator=",">
            #{employeeId}
        </foreach>
        order by g.gcid desc
    </select>

    <select id="getGuangChangLiuYan1List2" resultMap="BaseResultMap2">
        SELECT gcid,u.uid,infor,time,username,file,sex ,index1,beforgcid,admin from user as u ,gcliuyan as g
        where g.uid=u.uid and index1=3 and beforgcid IN
        <foreach collection="list2" item="employeeId" index="index" open="(" close=")" separator=",">
            #{employeeId}
        </foreach>
        order by g.gcid desc
    </select>

    <select id="getCount" resultType="int">
        SELECT count(*) from gcliuyan where index1=1
    </select>

    <insert id="addGuangChangLiuYan" parameterType="com.yijiupi.kjjsp.pojo.GcliuyanDTO">
        insert into gcliuyan(uid,infor,time,index1) VALUES (#{uid},#{infor},#{time},1)
    </insert>
    <insert id="huifuGuangChangLiuYan" parameterType="com.yijiupi.kjjsp.pojo.HuifuGuangChangLiuYanDTO">
        insert into gcliuyan(uid,infor,time,index1,beforgcid) VALUES (#{uid},#{infor},#{time},#{index},#{beforid})
    </insert>

</mapper>