<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.kjjsp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yijiupi.kjjsp.pojo.UserPO">
        <id column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="file" property="file" jdbcType="VARCHAR"/>
        <result column="qianming" property="qianming" jdbcType="VARCHAR"/>
        <result column="admin" property="admin" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getUser" parameterType="com.yijiupi.kjjsp.pojo.UserPO" resultMap="BaseResultMap">
        select uid,account,username,age,sex,phone,file ,qianming,admin from user where account=#{account} and password =#{password}
 </select>
    <select id="getUserByFriendName" parameterType="String" resultMap="BaseResultMap">
         select uid,account,username,age,sex,phone,file,qianming,adminfrom from user where username=#{1}
    </select>
    <update id="updateUser" parameterType="com.yijiupi.kjjsp.pojo.UserPO">
        UPDATE user set file=#{file} where uid=#{uid}
    </update>
    <update id="updateUser1" parameterType="com.yijiupi.kjjsp.pojo.UserPO">
        UPDATE user set username=#{username},age=#{age},sex=#{sex},phone=#{phone} where uid=#{uid}
    </update>
    <update id="updategq" parameterType="com.yijiupi.kjjsp.pojo.UserPO">
        UPDATE user set qianming=#{qianming} where uid=#{uid}
    </update>
    <select id="getFwInfor" parameterType="Integer" resultMap="BaseResultMap">
        select uid,username,age,sex,file,qianming,admin from user where uid=#{fwId}
    </select>
</mapper>